@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 25px;
  --border-radius-inner: 18px;
  /* --font-mono: ui-monospace, Menlo, Monaco, 'LoveFrom'; */
  --white: #f8f8f1;
  --black: #161212;
  --red: #d71d2d;
  --redorange: #e95429;
  --orange: #fb8b24;
}
