@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 25px;
  --border-radius-inner: 18px;
  /* --font-mono: ui-monospace, Menlo, Monaco, 'LoveFrom'; */
  --white: #f8f8f1;
  --black: #161212;
  --red: #d71d2d;
  --redorange: #e95429;
  --orange: #fb8b24;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Set the background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Set the color and shape of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(22, 18, 18, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 18, 18, 0.8);
}

.main-card {
  position: relative;
  padding: 7px;
}

.main-card::before {
  content: attr(data-text);
  width: 60px;
  height: 30px;
  background-color: #fb8b24;
  position: absolute;
  text-align: center;
  padding-top: 4px;
  top: 5;
  right: 8px;
  transform: translate(50%, -50%);
  border-radius: 18px;
  font-weight: bold;
  font-size: .9rem;
}


